.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path, class: 'top-items__icons--link' do
          = icon('fa', 'edit', class: 'top-items__icons--link-edit')
        = link_to "edit_user_path(current_user)", class: 'top-items__icons--link' do
          = icon('fa', 'cog', class: 'top-items__icons--link--setting')
  .side-bar__groups
    - current_user.groups.each do |group|
      .side-bar__groups-list
        =link_to '#' do
          .side-bar__groups-list-name
            = group.name
          .side-bar__groups-list-new-message
            まだメッセージはありません